
/* รีเซ็ตการตั้งค่าพื้นฐาน */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anuphan", serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* การจัดรูปแบบ header */
header {
    background-color: #fff;
    color: #fa71c1;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border: 2px solid #fff;
}

.profile-info span {
    font-size: 18px;
    font-weight: bold;
}

header button {
    background-color: #0c7bfd;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    right: 25px;
    position: absolute;
    transition: all .4s ease-in-out;
    font-family: "Anuphan", serif;
}

header button:hover {
    background-color: #006be8;
    transform: scale(1.06);
}

/* การจัดรูปแบบ main content */
main {
    padding: 20px;
    margin-top: 20px;
}

main .klw-flex h1 {
    font-size: 24px;
    text-align: left;
    border-left: 5px solid #fbcc1a;
    padding-left: 5px;
    margin-bottom: 0;
}

main h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: left;
    border-left: 5px solid #fbcc1a;
    padding-left: 5px;
}

/* เพิ่มการตอบสนองต่อขนาดหน้าจอ */
@media (max-width: 600px) {
    .profile-info {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        width: 160px;
        top: 20px;
        position: absolute;
    }

    .profile-info img {
        width: 80px;
        height: 80px;
        margin-right: 0;
    }
    
    header button {
        position: fixed;
        transition: all .4s ease-in-out;
        bottom: 20px;
        right: unset;
        width: 160px;
    }

    header{
        position: fixed;
        width: 200px;
        height: 100%;
        top: 0;
    }
    
    main {
        margin-left: 200px;
    }
    #levelSelect{
        border: 1px solid #000;
        width: 100%;
    }
    
    .klw-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    
    .custom-select {
        position: relative;
        width: 100%;
    }
    .menu li {
        font-size: 10px;
    }
}
/* การจัดรูปแบบเมนู */
.menu-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
}

.menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container {
    background-color: #fbcc1a;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.icon-container i {
    font-size: 18px;
}

thead {
    font-size: 12px;
}
.menu-item h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

/* การตอบสนองต่อขนาดหน้าจอ */
@media (max-width: 990px) {
    .menu-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .menu-container {
        grid-template-columns: 1fr;
    }
    .profile-info span{
        text-align: left;
    }
}


@media (max-width: 480px) {
    .menu-item{
          justify-content: left;
          display: grid;
            padding: 10px;
    }
    .menu-item .icon-container{
        width: 20px;
        height: 20px;
    }
    
    .icon-container i {
        font-size: 12px;
    }
    .menu-item h3{
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .icon-container {
        display: none;
    }
    .menu-item h3{
        font-size: 12px;
    }
}

@media (max-width: 372px) {
    .menu-item h3{
        font-size: 10px;
    }
    header {
        width: 160px;
        height: 100%;
        top: 0;
    }
    .profile-info {
        width: 120px;
    }
    header button {
        width: 120px;
    }
    main {
        margin-left: 160px;
    }
}

@media (max-width: 320px) {
    header {
        width: 120px;
        height: 100%;
        top: 0;
    }
    .profile-info {
        width: 80px;
    }
    header button {
        width: 80px;
    }
    main {
        margin-left: 120px;
    }
}

.klw-flex {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}

#levelSelect {
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: transparent;
    color: #000;
    font-family: "Anuphan", serif;
    position: relative;
}

#levelSelect option {
    font-family: "Anuphan", serif;
  color: #000; /* เปลี่ยนสีตัวอักษรในตัวเลือก */
  background-color: transparent; /* เปลี่ยนสีพื้นหลังในตัวเลือก */
}

.custom-select {
  position: relative;
  display: none;
}

.custom-select select {
  appearance: none;
  cursor: pointer;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

/* ---------------------------- */


ul.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to top, #80d4d3, #c7f4f4);
    width: fit-content;
    margin-bottom: 10px;
}

.menu li {
    padding: 0 15px;
    font-family: Arial;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    /* background-image: url(/img/dialogHeaderT.gif);
    background-repeat: repeat-x; */
}
.menu li:nth-child(1)::before,
.menu li:nth-child(2)::before,
.menu li:nth-child(3)::before,
.menu li:nth-child(4)::before,
.menu li:nth-child(5)::before,
.menu li:nth-child(6)::before,
.menu li:nth-child(7)::before,
.menu li:nth-child(8)::before {
    content: '▶';
    margin-right: 2px;
    color: #fbcc1a;
}

li ul {
    position: absolute;
    list-style: none;
    text-align: left;
    background: #afcccc;
    border: 1px solid #ddd;
    display: none;
}

/* li:hover ul {
    display: block;
} */

ul hr {
    margin: 10px 10px;
}

.menu li#student li:nth-child(1)::before,
.menu li#student li:nth-child(2)::before,
.menu li#student li:nth-child(4)::before,
.menu li#student li:nth-child(5)::before{
    content: '✤';
    margin-right: 5px;
    color: #fbcc1a;
}

.menu li#student li:nth-child(3)::before{
    margin-right: 5px;
}

#set-stu ul {
    position: absolute;
    transform: translate(95%, -34%);
    width: max-content;
}

body-a {
    display: none;
}


header-a {
    display: flex;
    background: linear-gradient(to top, #80d4d3, #c7f4f4);
    font-family: Arial;
    font-size: 16px;
    padding: 5px;
    padding-left: 20px;
    width: 100%;
    border: 1px solid;
    border-color: #dedede;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
    user-select: none;
}

body-a div text {
    padding: 5px;
    width: 100%;
    border-bottom: 1px #cccccc solid;
    border-left: 1px #cccccc solid;
    border-right: 1px #cccccc solid;
    border-top: 1px #333333 solid;
    background: #fff;
}

body-a > div {
    margin-top: 1px;
    width: 100%;
}

.find input[type="text"] {
    border-top: 2px solid #939393;
    border-left: 1px solid #000;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    height: 18px;
}

text{
    font-family: Arial;
}

.find button {
    height: 18px;
}

text.find {
    display: flex;
    align-items: center;
    gap: 5px;
}

.find button {
    height: 18px;
    background: linear-gradient(0, #77b9b9, #aad4d4);
    padding: 0 5px;
    display: flex;
    align-items: center;
    border: 1px solid #dedede;
    user-select: none;
    cursor: pointer;
    color: #fff;
}

.left-menu {
    display: flex;
    padding: 0px 10px;
    background: linear-gradient(0, #77b9b9, #b9d4d4);
    width: fit-content;
    gap: 5px;
    border-radius: 10px;
    border: 1px solid #dedede;
}

#h-table {
    padding-top: 10px;
    background: #fff;
}

#head-tb {
    background: #d7fafa;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
